services:
  loki:
    image: grafana/loki:3.0.0
    container_name: loki
    restart: unless-stopped
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - /opt/soc/loki/loki-config.yml:/etc/loki/local-config.yaml:ro
      - /opt/soc/loki/data:/loki
    ports:
      - "{{ loki_listen_port }}:{{ loki_listen_port }}"

  grafana:
    image: grafana/grafana:11.1.0
    container_name: grafana
    restart: unless-stopped
    environment:
      GF_SECURITY_ADMIN_USER: "{{ grafana_admin_user }}"
      GF_SECURITY_ADMIN_PASSWORD: "{{ grafana_admin_password }}"
      GF_SERVER_HTTP_PORT: "{{ grafana_listen_port }}"
      GF_SERVER_PROTOCOL: "http"
    volumes:
      - /opt/soc/grafana/data:/var/lib/grafana
      - /opt/soc/grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "{{ grafana_listen_port }}:{{ grafana_listen_port }}"
    depends_on:
      - loki
